[submodule "tugaslaravelacara5-6"]
	path = tugaslaravelacara5-6
	url = git@github.com:NatanNet/tugaslaravelacara5-6.git
[submodule "tugaslaravelacara7-8"]
	path = tugaslaravelacara7-8
	url = https://github.com/NatanNet/tugaslaravelacara7-8.git
[submodule "tugaslaravelacara7"]
	path = tugaslaravelacara7
	url = git@github.com:NatanNet/tugaslaravelacara7.git
[submodule "tugaslaravelacara8"]
	path = tugaslaravelacara8
	url = git@github.com:NatanNet/tugaslaravelacara8.git
[submodule "tugaslaravelacara9_10"]
	path = tugaslaravelacara9_10
	url = https://github.com/NatanNet/tugaslaravelacara9_10.git
[submodule "tugaslaravelacara11"]
	path = tugaslaravelacara11
	url = git@github.com:NatanNet/tugaslaravelacara11.git
[submodule "tugaslaravelacara13-16"]
	path = tugaslaravelacara13-16
	url = https://github.com/NatanNet/tugaslaravelacara13-16.git
[submodule "tugaslaravel17"]
	path = tugaslaravel17
	url = https://github.com/NatanNet/tugaslaravel17.git
