[submodule "tugaslaravelacara5-6"]
	path = tugaslaravelacara5-6
	url = git@github.com:NatanNet/tugaslaravelacara5-6.git
[submodule "tugaslaravelacara7-8"]
	path = tugaslaravelacara7-8
	url = https://github.com/NatanNet/tugaslaravelacara7-8.git
